<section class="login">
  <section class="login__container">
    <div class="login__container-title">
      <h2>Welcome back</h2>
      <div class="underline-title"></div>
    </div>
    <h3>Login</h3>
    <p>
      For your money safety, please delete all extensions for the browser you
      use to log in to your wallet
    </p>
    <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()" class="login__container--form">
      <div class="login__container--form-input">
        <label for="user" class="label--required">Login</label>
        <input class="input" id="user" type="text" formControlName="username" />
      </div>
      <div class="login__container--form-input">
        <label for="password" class="label--required">Password</label>
        <input class="input" id="password" type="password" formControlName="password"/>
      </div>
      <button [disabled] = "loginForm.invalid" class="login__container--button">Login</button>
    </form>
    <div class="login__container--register">
      <div class="login__container--register-text">
        <p class="login__container--register-text-main_item">
          Don't have an account?
        </p>
        <p class="login__container--register-text-second_item">Register here --></p>
      </div>
      <button class="login__container--register-button">Create account</button>
    </div>
  </section>
</section>
